<div class="userPageComponent">
  <div class=" main py-5">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="row">
          <div class="col-sm-12 col-xs-12 ">
            <div class="row">
              <h1 class="display-3 text-center">Notes:</h1>

              <div class="col-md-4 mb-5 noteWrapper"  (click)="openPopUpAddNote()" >
                <div class="nameWrapper">
                  <h4> <b> Add New Note</b></h4>
                </div>
                <div class="addNotePic">  </div>
              </div>
              <div class="col-md-4 mb-5 noteWrapper" (click)="openPopUpNote(note)" *ngFor="let note of notesData | sortBy:'desc':'date'" async>
                <div class="nameWrapper">
                  <h4> <b> {{note.authorname}}</b></h4>
                </div>
                <p class="noteContentWrapper">
                  {{note.content}}
                </p>
                <p class="dateWrapper">
                  <span><b>Creation Date:</b>  {{note.date}}</span>
                </p>
<!--                <p><span>{{note.date | date:'shortDate'}}</span></p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
